/*font-family: "Raleway", sans-serif;
font-family: "Roboto", sans-serif;*/

/*#FFFFFF фон навігації
#F5F4FA фон під командою
#2F303A темний герой
#2196f3 голубий акцент тексту
#212121 заголовки
#757575 текст
 #000000 лого*/

:root {
  /*Основные шрифты*/
  --main-font: Roboto, sans-serif;
  --secondary-font: Raleway, sans-serif;

  /*Светлая тема текста*/
  --accent-txt-cl: #2196f3;
  --primary-light-cl: #212121;
  --secondary-light-cl: #757575;
  --logo-light-cl: #000000;

  /*Темная тема текста*/
  --primary-dark-cl: #ffffff;
  --secondary-dark-cl: rgba(255, 255, 255, 0.6);

  /*Светлая тема фона*/
  --primary-light-bg: #f5f4fa;
  --nav-bg: #ffffff;

  /*Темная тема фона*/
  --secondary-dark-bg: #2f303a;
}

body {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-light-cl);
  background-color: var(--primary-dark-cl)
}

/* отменить точки в списках */
ul {
  list-style: none;
}

/* логотип */
.logo {
  text-decoration: none;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-txt-cl);
}
span.logo-light {
  color: var(--logo-light-cl);
}

.link {
  text-decoration: none;
}

.nav {
  background-color: var(--nav-bg);
}

.site-nav-link {
  text-decoration: none;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-light-cl);
}

.auth-nav-link {
  text-decoration: none;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-light-cl);
}

.site-nav-link:hover,
.site-nav-link:focus {
  color: var(--accent-txt-cl);
}
 .current {
   color: var(--accent-txt-cl);
 }
.auth-nav-link:hover,
.auth-nav-link:focus {
  color: var(--accent-txt-cl);
}

main {
  background-color: var(--secondary-light-bg);
}
.hero {
  background-color: var(--secondary-dark-bg);
}

.hero-title {
  font-family: var(--main-font);
  color: var(--primary-dark-cl);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button {
  cursor: pointer;
}
/* Кнопка героя */
.button {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.86;
  letter-spacing: 0.06em;
  color: var(--primary-dark-cl);
  background-color: var(--accent-txt-cl);
}

/* контент */

.features-caption {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-light-cl);
}

.features-text {
  font-family: var(--main-font);
  color: var(--second-text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.job {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--primary-light-cl);
}
.people {
  background-color: var(--primary-light-bg)
}

.people-item {
  background-color: var(--primary-dark-cl);
  width: 270px;
  height: 368px;
}
.people-title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--primary-light-cl);

}
.fio {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--primary-light-cl);
}

.post {
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

/* сторінка портфоліо */

.filtr {
  background: var(--primary-dark-cl)
}

.btn:focus,
.btn:hover {
  background-color: var(--accent-txt-cl);
  color: var(--primary-dark-cl);
}

.btn {
  cursor: pointer;
}
.filtr-item {
  font-family:var(--main-font)
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: var(--primary-light-cl);
}
.button-filtr {
  font-family: var(--main-font)
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: var(--primary-light-cl);
}

.portfolio-name {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--primary-light-cl);
}

.portfolio-item {
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  box-sizing: border-box;
}

.portfolio-tipe {
  font-family: var(--main-font)
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-light-cl);
}

/* стилизация подвала */

address {
  font-style: normal;
}
.footer-link {
  text-decoration: none;
}


.footer-link:hover,
.footer-link:focus {
  color: var(--accent-txt-cl);
}

span.logo-dark {
  color: var(--primary-dark-cl);
}

.footer-map {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-dark-cl);
}
.footer-contact {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  
}

.footer {
  background: var(--secondary-dark-bg);
  }