/*font-family: "Raleway", sans-serif;
font-family: "Roboto", sans-serif;*/

/*#FFFFFF фон навігації
#F5F4FA фон під командою
#2F303A темний герой
#2196f3 голубий акцент тексту
#212121 заголовки
#757575 текст*/

:root {
  /*Основные шрифты*/
  --main-font: Roboto, sans-serif;
  --secondary-font: Raleway, sans-serif;

  /*Светлая тема текста*/
  --accent-txt-cl: #2196f3;
  --primary-light-cl: #212121;
  --secondary-light-cl: #757575;

  /*Темная тема текста*/
  --primary-dark-cl: #ffffff;
  --secondary-dark-cl: rgba(255, 255, 255, 0.6);

  /*Светлая тема фона*/
  --primary-light-bg: #f5f4fa;
  --nav-bg: #ffffff;

  /*Темная тема фона*/
  --secondary-dark-bg: #2f303a;
}

body {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-light-cl);
  background-color: var(--primary-dark-cl)
}

/* отменить точки в списках */
ul {
  list-style: none;
}

/* логотип */
.logo {
  font-family: var(--secondary-font);
  font-size: 700;
  color: var(--accent-txt-cl);
  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
span.logo-light {
  color: var(--primary-light-cl);
}


/* Меню навігації */
/* a { 
  color: var(--primary-light-cl);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}*/

.site-nav {
  color: var(--primary-light-cl);
  text-decoration: none;
}
/* Змінити колір інтерактивних елементів */
.link:hover,
.link:focus,
.link:active {
  color: var(--accent-txt-cl);
}

.footer-link:hover,
.footer-link:focus,
.footer-link:active {
  color: var(--accent-txt-cl);
}

.link {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--primary-light-cl);
}

.footer-link {
  font-family: var(--main-font);
}
.current {
  color: var(--accent-txt-cl);
}

.nav {
  background-color: var(--nav-bg);
}

.auth-nav {
  text-decoration: none;
  color: var(--secondary-light-cl);
}
.nav-btn:hover,
.nav-btn:focus,
.nav-btn:active {
  color: var(--accent-txt-cl);
}
}
main {
  background-color: var(--secondary-light-bg);
}
.hero {
  background-color: var(--secondary-dark-bg);
}

.hero-title {
  font-family: var(--main-font);
  color: var(--primary-dark-cl);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button {
  cursor: pointer;
}
/* Кнопка героя */
.button {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.86;
  letter-spacing: 0.06em;
  color: var(--primary-dark-cl);
  background-color: var(--accent-txt-cl);
}

/* контент */

.features-caption {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--primary-light-cl);
}
.features-caption {
  font-family: var(--main-font)
  font-size: 36px;
  line-height: 1.17;
}

.features-text {
  color: var(--second-text-color);
  font-size: 14px;
  line-height: 1.7;
}

.people {
  background-color: var(--primary-light-bg)
}

.people-item {
  background-color: var(--primary-dark-cl);
  width: 270px;
  height: 368px;
}
.people-title, .job {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--primary-light-cl);

}
.fio {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--primary-light-cl);
}

.post {
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

/* сторінка портфоліо */

.filtr {
  width: 128px;
  height: 38px;
  left: 576px;
  top: 174px;
  background: var(--primary-light-bg);
}

.btn:focus {
  color: var(--accent-txt-cl);
}
.button-filtr {
  color: var(--primary-light-cl);
  width: 84px;
  height: 26px;
  left: 598px;
  top: 180px;

  font-family: var(--main-font)
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
}

.portfolio-name {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--primary-light-cl);
}

.portfolio-item {
  width: 370px;
  height: 404px;
  left: 215px;
  top: 262px;

  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  box-sizing: border-box;
}


/* стилизация подвала */
span.logo-dark {
  color: var(--primary-dark-cl);
}

.footer-link {
  text-decoration: none;
}
 .footer-link {
  font-family: var(--main-font);
  color: var(--primary-dark-cl);
}

.footer {
  background: var(--secondary-dark-bg);
  width: 1600px;
  height: 252px;
}